/* src/ContactUs.css */

.content {
    flex: 1;
    padding: 20px;
    overflow-y: auto; /* Ensure content is scrollable */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.content::-webkit-scrollbar {
    width: 0; /* Safari and Chrome */
}

.contact-us-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.title {
    text-align: center;
    color: #000; /* Black color for the title */
    margin-bottom: 20px;
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    background-color: #666;
    padding: 20px;
    border-radius: 8px;
}

.contact-info {
    flex: 1;
    margin-right: 20px;
}

.contact-info p {
    margin-bottom: 20px;
    color: #faf9f9;
}

.contact-info ul {
    list-style: none;
    padding: 0;
    color: #faf9f9;
}

.contact-info ul li {
    margin-bottom: 10px;
}

.social-media {
    margin-top: 20px;
}

.social-media p {
    margin-bottom: 10px;
    color: #faf9f9;
}

.social-media .icons {
    display: flex;
    gap: 10px;
}

.contact-form {
    flex: 1;
    max-width: 500px;
    width: 100%;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #faf9f9;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #a28089;
    color: #fff;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #8e6b7e;
}

/* Media Queries for Mobile Devices */
@media (max-width: 600px) {
    .contact-container {
        flex-direction: column;
    }

    .contact-info {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .contact-form {
        max-width: 100%;
    }
}

@media (max-width: 400px) {
    .content {
        padding: 10px;
    }
}
