.footer {
    background-color: #D4AF37; /* Gold background */
    color: #464d53;
    text-align: center;
    padding: 20px 0;
}

.footer nav {
    margin-bottom: 10px;
}

.footer nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.social-icons {
    margin-bottom: 10px;
}

.social-icons svg {
    margin: 0 5px;
    font-size: 24px;
    cursor: pointer;
}

.footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-bottom p {
    margin: 5px 0;
}

.footer-links {
    display: flex;
    justify-content: center;
}

.footer-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}
