* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
    font-family: Arial, sans-serif;
    background: #000;
  }
  
  header, footer {
    width: 100%;
    background-color: #f8f9fa; /* Example background color */
  }
  
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Ensure it's above other content */
  }

  main {
    margin-top: 60px; /* Adjust according to header height */
    padding: 20px;
  }

  .menu-logo-container {
    display: flex;
    align-items: center;
  }
  
  .menu-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .divider {
    margin: 0 10px;
    font-size: 24px;
  }

  header {
    background-color: #ffffff; /* Adjust background color as needed */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Example box shadow */
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  /* .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
  
  .logo {
    font-size: 1.5rem; 
    font-weight: bold;
  }
  
  .nav-links {
    list-style-type: none;
    display: flex;
    align-items: center;
  }
  
  .nav-links li {
    margin-left: 20px; 
  }
  
  .nav-links a {
    text-decoration: none;
    color: #333333; 
    padding: 10px;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #007bff; 
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #333333;
    padding: 10px 20px;
    display: block;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .dropdown-content a:hover {
    background-color: #f9f9f9;
  }
  
  .menu-toggle {
    display: none; 
  }
  
  .menu-toggle.open {
    display: block;
  }
  
  .hamburger {
    width: 20px; 
    height: 3px;
    background-color: #333333; 
    margin: 5px 0;
    transition: transform 0.3s ease;
  }
  
  .menu-toggle.open .hamburger {
    transform: rotate(45deg);
  }
  
  .menu-toggle.open .hamburger:before,
  .menu-toggle.open .hamburger:after {
    transform: rotate(-90deg);
  }  */


  .dropbtn{
    border: 1px solid #000;
    border-radius: 5px;
  }

  @media (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      background-color: #ffffff; /* Background color for mobile menu */
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 100;
    }
  
    .nav-links.open {
      display: flex;
    }
  
    .nav-links li {
      width: 100%;
      text-align: center;
      margin: 0;
    }
  
    .menu-toggle {
      display: block;
      cursor: pointer;
    }
  
    .dropdown {
      display: block; /* Hide dropdown in mobile view */
    }
  }

  .app {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    background-color: #ffffff; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  .logo {
    color: #000;
    font-size: 1.5rem;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
    list-style: none;
  }
  
  .nav-links.open {
    display: block;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropbtn {
    color: #000;
    text-decoration: none;
    padding: 10px 20px;
    display: flex;
    align-items: center;
  }
  
  .arrow-down {
    width: 12px;
    height: 12px;
    margin-left: 5px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    color: #000;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .menu-toggle .hamburger {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 4px 0;
    transition: 0.4s;
  }
  
  .menu-toggle.open .hamburger:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .menu-toggle.open .hamburger:nth-child(2) {
    opacity: 0;
  }
  
  .menu-toggle.open .hamburger:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .title-client{
    color: purple;
  }

  h1 {
    color: #ffffff;
  }

  .application-title{
    text-align: center;
  }

  .form-container {
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin: 2rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  select,
  input[type="file"] {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
  }
  
  fieldset {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 1rem;
  }
  
  legend {
    font-weight: bold;
  }
  
  .radio-group .radio-item{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .items-container {
    display: flex;
    flex-wrap: wrap;
  }

  .cart-add-icon {
    margin-left: auto; /* Push the cart icon to the right */
    cursor: pointer;
  }
  
  .item {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px 12px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    width: 100%;
  }

  .item span {
    flex-grow: 1; /* Take up remaining space */
  }

  .delete-button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }

  .delete-button:hover {
    background-color: #c0392b;
  }

  .client-ownership-info span {
    display: flex;
    float: left;
    text-align: center;
    flex-direction: row;
    align-items: center !important;
  }

  .info-icon {
      width: 20px; 
      height: 20px; 
  }

  .button-container {
    display: flex;
    justify-content: space-between;
  }
  
  button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="submit"] {
    background-color: #000;
    color: #fff;
  }
  
  button[type="button"] {
    background-color: #000;
    color: #fff;
  }
  
  button:hover {
    opacity: 0.8;
  }

  .footer {
    background: #000;
  }

  .footer p{
    color: #fff;
    font-size: 12px;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      text-align: center;
      background-color: #fff;

    }
  
    .nav-links.open {
      display: flex;
    }
  
    .menu-toggle {
      display: flex;
    }
  
    .navbar {
      justify-content: space-between;
    }
}
  