/* General styles */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  .furbisher-app {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  main {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .form-container {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin: auto;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .client-ownership-info {
    margin-bottom: 20px;
  }
  
  .file-upload-wrapper {
    margin-bottom: 20px;
  }
  
  label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="file"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
 
  
  /* Responsive styles */
  @media (min-width: 600px) {
    .button-container {
      flex-direction: row;
      justify-content: space-between;
    }
  
    button {
      flex: 1;
    }
  

  }
  