*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    background-color: #ffffff;
    margin: 0;
}

#root{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-container {
    padding: 16px;
    margin-top: 60px;
  }
  
  .flex {
    display: flex;
  }
  
  .justify-between {
    justify-content: space-between;
  }
  
  .items-center {
    align-items: center;
  }
  
  .vehicle-req {
    display: flex;
    border: 3px solid #000; 
    border-radius: 15px; 
    overflow: hidden;
  }

  .section {
    flex: 1;
    padding: 10px 20px;
    text-align: center;
    border-right: 3px solid #000; 
  }
  
  .section:last-child {
    border-right: none; 
  }
  
  
  .mb-8 {
    margin-bottom: 32px;
  }
  
  .text-2xl {
    font-size: 1.5rem;
  }
  
  .p-2 {
    padding: 8px;
  }
  
  .rounded {
    border-radius: 4px;
  }
  
  .text-center {
    text-align: left;
  }
  
  .text-4xl {
    font-size: 2.25rem;
  }
  
  .font-bold {
    font-weight: bold;
    margin: 0;
  }
  
  .text-lime-500 {
    color: #84cc16;
  }
  
  .grid {
    display: flex;
  }
  
  .grid-cols-1 {
    grid-template-columns: 1fr;
  }
  
  .gap-8 {
    gap: 32px;
  }

  @media (min-width: 768px) {
    .grid-cols-2 {
      grid-template-columns: 1fr 2fr;
    }
  }

  .col-span-2{
    width: 100%;
  }

  .vehicle-container,
  .confirmation-container {
    background: #f5f5f5;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-right: auto;
  }

  .furbish-container{
    background: #f5f5f5;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 40%;
  }
  
  .furbish-container h2,
  .vehicle-container h2,
  .confirmation-container h2 {
    margin-bottom: 16px;
  }
  
  .flex {
    display: flex;
  }
  
  .space-x-2 > * + * {
    margin-left: 8px;
  }
  
  .text-white {
    color: #000;
  }
  
  .px-2 {
    padding-left: 8px;
    padding-right: 8px;
  }
  
  .py-1 {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  
  .rounded {
    border-radius: 4px;
  }
  
  .flex.items-center {
    display: flex;
    align-items: center;
  }
  
  .space-x-2 > * + * {
    margin-left: 8px;
  }
  
  .space-x-1 > * + * {
    margin-left: 4px;
  }

  .vehicle-no{
    background-color: #eab308;
    padding: 16px;
    font-weight: 900;
    max-width: 55px;
  }
  
  .search-bar {
    float: right;
    max-width: 400px;
    margin-left: auto;
  } 
  
  .overflow-x-auto {
    overflow-x: auto;
  }
  
  .min-w-full {
    min-width: 100%;
    background-color: #ffffff;
    border-radius: 8px;
  }
  
  .bg-yellow-500 {
    background-color: #eab308;
  }
  
  .bg-purple-500 {
    background-color: #a855f7;
  }
  
  .bg-black {
    background-color: #000000;
    color: #ffffff;
  }
  
  .border-b {
    border-bottom: 1px solid #e5e7eb;
  }
  